*{
    color: white;
}
body{
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    padding: 30px;
}
h1{
    color:#f83505;
    text-align: center;
    margin-bottom: 25px;

}
.container{
    background-color: rgba(211, 201, 201, 0.1);
    border-radius: 16px;
     box-shadow: 0 5px 15px rgba(0,0,0,0.3);
     max-width: 700px;
     width: 100%;
     padding: 32px;
     margin-top: 200px;
}
.form-group{
    margin-bottom: 22px;
}
input, textarea{
    width: 90%;
    border-radius: 10px;
    padding: 12px 16px;
    border: 2px solid #999;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #0f0c0c;
}
input:focus, textarea:focus{
    border: #c13d00;
    box-shadow: 0 0 5px rgba(0, 172, 193, 0.5);
    outline: none;
}
textarea{
    resize: vertical;
    min-height: 120px;

}
button{
    display: block;
    margin: auto;
    background-color: #0f0c0c;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 3s;
}
button:hover{
    background-color: white;
    color: #0f0c0c;
    transition: 0.5s;
}
button:active{
    opacity: 0.5;
}

label{
    margin-right: 10px;
}